
.container {
    background-color: rgb(219, 246, 255);
    height: 92vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.emergencyContainer {
    display: flex;
    flex-direction: column;
    background-color: rgb(208, 243, 255);
    width: 97%;
    
    padding: 10px;
    box-shadow: 1px 2px 3px 1px lightblue;
    margin: auto;
}

.emergencyContainer span {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 30px;
    border-bottom: 1px solid darkblue;


}

.emergencyContainer span img {
    width: 100px;
}

header h1 {
    margin: 24px;
    margin-left: 35px;
    font-size: 33px;
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#actions {
    display: flex;
    justify-content: space-between;
}

#actions mat-icon:first-child {
    background-color: lightgreen;

}