<app-menu></app-menu>
<div class="body_container">
  <div class="container">
    <div class="right_container"></div>
    <div class="left_container">
      <section>
        <span
          ><h2>First_Name : </h2>
          <h3>John</h3></span
        >
        <span
          ><h2>Last_Name : </h2>
          <h3>Oloo</h3></span
        >
      </section>
      <section>
        <span>
          <h2>EMAIL : </h2>
          <h3>John@Email.com</h3>
        </span>
        <span>
          <h2>DOB : </h2>
          <h3>1234</h3>
        </span>
      </section>
      <section>
        <span>
          <button>LOGOUT</button>
        </span>
      </section>
    </div>
  </div>
</div>
