<header *ngIf="current_role == 'Medical_Officer' || current_role == 'Medical_Admin'">
  <div class="brand-facility">
    <span class="facility-label">Active Facility</span>
    <h2>{{current_Facility}}</h2>
  </div>
  
  <section class="nav-actions">
    <a href="javascript:void(0)" (click)="homeNavigate()">
      <mat-icon>home</mat-icon>
      <span>HOME</span>
    </a>
    <a href="javascript:void(0)" (click)="emergencyNavigate()">
      <mat-icon>add</mat-icon>
      <span>REGISTER</span>
    </a>
    <a href="javascript:void(0)" (click)="inpatientNavigate()">
      <mat-icon>group</mat-icon>
      <span>INPATIENT</span>
    </a>
    <a href="javascript:void(0)" (click)="outpatientNavigate()">
      <mat-icon>local_hospital</mat-icon>
      <span>OUTPATIENT</span>
    </a>
    <a href="javascript:void(0)" (click)="Account()" class="logout-link">
      <mat-icon>perm_identity</mat-icon>
      <span>LOGOUT</span>
    </a>
  </section>
</header>

<app-login-page *ngIf="current_role !== 'Medical_Admin' && current_role !== 'Medical_Officer'"></app-login-page>